*
{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Indie Flower', cursive;
}

.header
{
  display: flex;
  justify-content: center;
  padding: 1em;
  background-color: aqua;
  font-weight: bold;
  font-size: 2.2rem;
  border-bottom: 1px solid black;
}

.label
{
  text-align: center;
  font-size: 2.1rem;
  padding: 0.2em;
}

.form-group
{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.input, .textarea
{
  max-width: 100%;
  width: 280px;
  align-self: center;
  font-size: 1.2rem;
  padding: 1em;
  resize: none;
}

.input:focus, .textarea:focus
{
  border: 1px dotted darkblue;
  font-weight: bold;
}

.word-counter
{
  font-size: 1.7rem;
  color: darkgrey;
  font-weight: bold;
  align-self: center;
  line-height: 0.9;
}

.btn
{
  max-width: 100%;
  padding: 1em;
  align-self: center;
  background-color: darkgreen;
  font-size: 1.5rem;
  color: white;
}

.grid-output
{
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
}

.footer
{
  display: block;
  text-align: center;
  padding: 1em;
  background-color: aqua;
  font-weight: bold;
  font-size: 2.2rem;
  border-top: 1px solid black;
}

.footer > a
{
  color: inherit;
  padding-left: 0.3em;
}

@media(max-width:768px) 
{
  .grid-output 
  {
      grid-template-columns: 1fr;
      justify-items: center;
  }
}

@media(min-width:768px) and (max-width:1024px) 
{
  .grid-output 
  {
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
  }
}